*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #000;
    background-color: #a8bfff;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%238c722e' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 3rem;
    width: auto;
    max-width: 900px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .35);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, .15);
}

.quote-text {
    font-size: 4.4rem;
    color: #000;
}

@media screen and (max-width: 992px) {
    .quote-wrapper {
        margin: auto 1rem;
    }

    .quote-text {
        font-size: 4rem;
    }
}

/* for longer text */
.quote-long-text {
    font-size: 3.2rem;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.quote-mark::before {
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    font-weight: 900;
    font-size: 6.4rem;
    margin-right: 2rem;
}

.quote-author {
    margin-top: 15px;
    font-size: 3.2rem;
    font-weight: lighter;
    font-style: italic;
    color: #000;
}

.button-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    ;
}

.button-container button {
    padding: 0.5rem 1.8rem;
    font-size: 2rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #ad8d3d;
    box-shadow: 0 .4rem rgba(156, 123, 40, 0.6);
    transition: transform .3s, box-shadow .2s, color .3s;
}

.button-container button:hover {
    filter: brightness(110%);
}

.button-container button:active {
    transform: translate(0, .5rem);
    box-shadow: 0 .2rem rgba(150, 125, 62, 0.65);
}

.twitter-btn:hover {
    color: #1DA1F2;
}

.twitter::before {
    content: "\f099";
    font-size: 2.5rem;
    font-family: "Font Awesome 5 Brands";
}

new-quote {
    transition: color .3s;
}

.new-quote:hover {
    color: #000;
}